{% extends "index.html" %}
{% block title %}About us{% endblock %}
{% block index %}
{% endblock index %}

{% block start_body_scripts %}
    <link rel="stylesheet"
            href="{{ url_for('static', filename='css/about_us.css') }}"
            type="text/css" />
{% endblock %}

{% block content %}
<main class="landing-page-styles">
    <section class="cellular section central" id="about_us">
        <div>
            <div class="cellular__text">
                <h2>Offgridplanner's exciting journey across two continents...</h2>
                <p>The journey of Offgridplanner began as part of the research project PeopleSun for Nigeria. Since then, the tool has evolved significantly: We have enhanced existing features (such as pole positioning), integrated new components (like green hydrogen as a seasonal storage solution), and adapted it for additional regions, including Thailand and Mozambique.</p>
                <p>But our journey is far from over. We are passionate about continuously improving Offgridplanner — and we’d love to do it together with you. If you have ideas, suggestions, or feedback, please don’t hesitate to reach out: <a href="mailto:offgridplanner@rl-institut.de">offgridplanner@rl-institut.de</a></p>
                <h2>About Reiner Lemoine Institut</h2>
                <p>The Reiner Lemoine Institute is an independent non-profit research institution that contributes to a transformation towards a sustainable energy supply based on 100 % renewable energy since its founding in 2010. In our many years of experience we have conducted applied research to scientifically support the long-term transition of the energy supply system towards renewable energy. Open source models developed here have firmly established themselves in energy system modeling.</p>
                <p>Further information: <a href="https://reiner-lemoine-institut.de/en/">www.reiner-lemoine-institut.de</a></p>
                <br>
            </div>
        </div>
    </section>
    <section class="cellular section central" id="about_nigeria">
        <div>
            <div class="cellular__text">
                <h2>About Offgridplanner Nigeria</h2>
                <p>The first version was developed within the PeopleSuN R&D project running from 2020-2024. It aimed to improve access to reliable and sustainable energy in previously underserved regions in Nigeria through applied research. The focus was not only on technical solutions, but in particular on developing an understanding of local needs and realistic financial frameworks in order to optimise the use of off-grid systems while taking into consideration the actual needs of the local population.</p>
                <p>It also covered extensive household and SME surveys to understand electricity usage patterns of electrified households in rural Nigeria which serves as the basis for the load profiles in the Nigerian tool.</p>
                <p>PeopleSuN was funded by the German Federal Ministry of Education and Research (BMBF) within the funding initiative "Client II - International Partnerships for Sustainable Innovations".</p>
                <p>Further information: <a href="https://reiner-lemoine-institut.de/en/project/peoplesun-optimizing-off-grid-electricity-supply-systems-in-nigeria/">https://reiner-lemoine-institut.de/en/project/peoplesun-optimizing-off-grid-electricity-supply-systems-in-nigeria/</a></p>
                <br>
            </div>
        </div>
    </section>
    <section class="cellular section central" id="about_thailand">
        <div>
            <div class="cellular__text">
                <h2>About Offgridplanner Thailand</h2>
                <p>Within the Green H2Island research project, Offgridplanner was adapted to the Thai context and enhanced with hydrogen-related components — including storage, electrolyser, and fuel cell — to integrate green hydrogen as a seasonal storage solution into mini-grid system design and optimisation.
                The tool was further developed by Reiner Lemoine Institut (RLI) with support from consortium partners H2 Powercell and Recharge, who provided valuable feedback on default parameters for the hydrogen components.</p>
                <p>The project explores how the integration of a hydrogen system into the existing community-operated renewable energy infrastructure on the Thai island of Koh Jik can enable a secure and reliable 100% renewable energy supply. The findings aim to serve as a model for implementing similar solutions on other islands across Southeast Asia.</p>
                <p>The Green H2Islands project (FKZ: 67EXI7501A) is funded by the Federal Ministry for the Environment, Climate Action, Nature Conservation and Nuclear Safety (BMUKN) as part of the “Export Initiative Environmental Protection” (EXI). As the EXI project management agency, Zukunft – Umwelt – Gesellschaft (ZUG) gGmbH supports the Federal Ministry for the Environment in carrying out its tasks. As a project of the thematic focus “green hydrogen and fuel cell technologies for decentralized energy supply” within the Export Initiative Environmental Protection, NOW GmbH supports the Green H2Islands project in its function as a program company.</p>
                <p>Project duration: October 2024 – September 2027</p>
                <p>Further information: <a href="https://reiner-lemoine-institut.de/en/project/green-h2-islands-hydrogen-for-a-100-precent-renewable-energy-supply-for-islands-in-southeast-asia/">https://reiner-lemoine-institut.de/en/project/green-h2-islands-hydrogen-for-a-100-precent-renewable-energy-supply-for-islands-in-southeast-asia/</a></p>
                <br>
            </div>
        </div>
    </section>
</main>
{% endblock %}
