{% extends "index.html" %}
{% block title %}Sponsoring{% endblock %}
{% block index %}
{% endblock index %}
{% block content %}
<main class="landing-page-styles">
    <section class="cellular section" id="sponsoring">
        <div>
            <div class="cellular__text">
                <h2>Would you like to see a new feature or support for additional countries in the Offgridplanner tool?</h2>
                <br>
                <p>Offgridplanner was developed by the Reiner Lemoine Institute to support the planning and optimization of off-grid energy systems combining capacity and spatial optimization. The tool is continuously being improved and extended with new functionalities for practical use in energy access projects worldwide.</p>

                <p>If you are interested in adapting the tool to additional country contexts or integrating custom features to meet your specific needs, we would be delighted to collaborate. Please feel free to contact us via email at <a href="mailto:offgridplanner@rl-institut.de">offgridplanner@rl-institut.de</a>.</p>

                <p>We look forward to exciting new partnerships and projects!</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
